<% layout('layout/boilerplate') %>
  <div class="row">
   <h1 class="text-center">Create a Product</h1>
   <div class="col-6 offset-3">
    <form action="/products" method="POST" novalidate class="validated-forms">
        <div class="mb-3">
        <label class="form-label" for="name">Product Name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="product name" required>
        <div class="valid-feedback"> Looks Great!</div>
        </div>

        <div class= "mb-3">
        <label class="form-label" for="price">Price</label>
        <input class="form-control" type="float" id="price" name="price" placeholder="Price: $" required>
        <div class="valid-feedback"> Looks Great!</div>
        </div>

        <div class="mb-3">
        <label class="form-label" for="quantity">Product Quantity</label>
        <input class="form-control" type="float " id="quantity" name="quantity" placeholder="quantity" required>
        <div class="valid-feedback"> Looks Great!</div>    
        </div>

        <div class="mb-3">
        <label class="form-label" for="category">Select Category</label>
        <select class="form-control" name="category" id="category">
            <% for(let category of categories){ %>
                <option value="<%=category%>">
                    <%=category%>
                </option>
                <% } %>
        </select>
        <div class="valid-feedback"> Looks Great!</div>   
         </div>

        <div class="mb-3">
            <label class="form-label" for="image">Image</label>
            <input class="form-control" type="text" id="image" name="image" placeholder="Image Url" required>
            <div class="valid-feedback"> Looks Great!</div>  
          </div>
        <div class="mt-3"><button class="btn btn-lg btn-outline-info ">Create</button></div>
    </form>
    <div class="mt-3 big"><a href="/products" class="btn btn-sm btn-outline-danger ">Cancel</a></div>
    

   </div>
  </div>

